{% load customtags %}
<nav>
    <ul>        
        {% if user.is_authenticated %}
            <li><img src="{% get_image user.username %}" alt="" srcset="" id="image"></li>
            <li><a href="#">Menue</a>  
                <ul>

                    <li><a href="{% url 'Accounts:logout_user' %}">Logout</a></li>
                    <li><a href="{% url 'Accounts:change_user' %}">change</a></li>
                    <li><a href="{% url 'Accounts:change_profil' %}">change profil</a></li>

                </ul>
            </li>
        {% else %}
            <li><img src="{ }" alt="" srcset="" id="image"></li>
            <li><a href="#">Menue</a>  
                <ul>
                    <li><a href="{% url 'Accounts:register_user' %}">Rejoindre</a></li>
                </ul>
            </li>
        
        {% endif %}
        <li><a href="{% url 'Articles:Photo_vente'%}">Vendre</a></li>
        <li><a href="{%url 'Articles:index'%}">Accueille</a></li>
    </ul>