{% load customtags %}
{%load static%}
{% if user.is_authenticated %}
<!-- les entet -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'Accounts:change_profil'%}">
      <div class="" style ="width:18%">
        {% comment %} les informations d entete {% endcomment %}
        <!-- les images de profils -->
          <img src="{% get_image user.username %}" alt="" srcset=""class="img-thumbnail rounded-pill  ">
          <label>{{user.first_name}}</label>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            {% comment %} page principale {% endcomment %}
              <a class="nav-link active" aria-current="page" href="{%url 'Articles:index'%}">Home</a>
            </form>             
        </li>
        {% comment %} Maboutique {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{%url 'Articles:boutique_description' user.id %}">Ma Boutique</a>
        </li>
        {% comment %} Se deconnecter {% endcomment %}
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{%url 'Accounts:logout_user'%}">Se deconnecter</a>
        </li>
      </ul>
      {% comment %} les boutons {% endcomment %}
      <form class="d-flex" role="search"  >
        {% csrf_token %}
        <input class="form-control me-2 w-25" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% else %}
{% comment %} Quand l'utilisateur n'est pas connecter {% endcomment %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="" style ="width:18%">
        {% comment %} les informations d entete {% endcomment %}
        <img src="{%static 'Accounts/assetes/logo.png'%}" alt="" srcset=""class="img-thumbnail rounded-pill  ">
          <label>Ghoster</label>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'Articles:index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{%url 'Accounts:login_user'%}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{%url 'Accounts:register_user'%}">Nous rejoindre </a>
        </li>
      </ul>
      {% comment %} les boutons {% endcomment %}
      <form class="d-flex" role="search"  >
        {% csrf_token %}
        <input class="form-control me-2 w-25" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{% endif %}
