{% extends "./base.html" %}
{% load static  %}
{%block content%}
    <form action="" method="post">
        <div class="boite">
            <div class="titre">
                <h1>Connexion</h1>
                <div class="champ">
                    {{form.as_p}}
                </div>
                {% for message in messages %}
                    <div class="error">
                        <span>{{message}}</span>
                    </div>
                
                {%endfor %}
                
                {%  csrf_token %}
                <div class="button">
                    <a href="{% url 'Accounts:pass_forgeted' %}">Mot de passe oublié</a>
                    <button type="submit">Connexion</button>
                    <a href="{% url 'Accounts:register_user' %}">Register</a>
                </div>
            </div>
            
        </div>
    </form>
{%endblock content%}