{% extends './base.html' %} {% block content %}
{% load static %}
{% load customtags %}
<script src="{% static 'Accounts/js/profil.js' %}"></script>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="boite">
            {% if user.is_authenticated %}
                <div class="image">
                    <img src="{% get_image user.username %}" alt="" srcset="" id="image">
                </div>
                <div class="champ">
                    <input type="file" name="profile_photo" accept="image/*" required id="id_profile_photo" onchange="previewPicture(this)"></p>
                </div>
                <div class="button">
                    <button>Changer profil</button>
                    <a href="{% url 'Articles:index' %}" target="_blank" rel="noopener noreferrer">je garde</a>    
                </div>
                
            {% else %}
                <div class="image">
                    <img src="{% get_image user.username %}" alt="" srcset="" id="image">
                </div>
                <div class="champ">
                    <input type="file" name="profile_photo" accept="image/*" required id="id_profile_photo" onchange="previewPicture(this)"></p>
                </div>
                <div class="button">
                    <button>Changer profil</button>
                    <a href="{% url 'Articles:index' %}" target="_blank" rel="noopener noreferrer">je garde</a>    
                </div>
            
            {% endif %}
        </div>
        
    </form>    

{% endblock content %}
