{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='{% static "Accounts/css/change.css" %}'>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post">
        <div class="boite">
            <div class="champ">
                <div class="img">
                    <img src="{% static 'Accounts/assetes/default_profile.png' %}" alt="" srcset="" class="image">
                    <input type="file" name="profile_photo" accept="image/*"  id="id_profile_photo" src="">
                </div>
                {{form.as_p}}
                {%csrf_token%}
                <div class="button">
                    <button type="submit">Créer</button>
                </div>

            </div>
        </div>
    </form>
</body>
</html>
