{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ghoster</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "Articles/css/main.css"%}'>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {% include "./header_footer/header.html" %}
            <div class="main">
                {%block content%}{%endblock content%}     
            </div>        
        {% include "./header_footer/footer.html"%}
       
    </form>
<script src="{%static 'Articles/js/main.js'%}"></script>
</body>
</html>